bin/
.gradle/
build/
lwjgl-rundir/_eagstorage.p.dat
lwjgl-rundir/_eagstorage.g.dat
lwjgl-rundir/_eagstorage.a.dat
lwjgl-rundir/filesystem/
javascript/
wasm_gc_teavm/bin/
wasm_gc_teavm/build/
wasm_gc_teavm/.gradle/
/javascript
/javascript
javascript/EaglercraftX_1.8_Offline_en_US.html
javascript/EaglercraftX_1.8_Offline_International.html
javascript/classes.js
/javascript
/javascript
